<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/foundation.min.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/Slick/slick.css"/>
    <include path="~/Content/Slick/slick-theme.css"/>
    <include path="~/Content/Fonts/foundation-icons/foundation-icons.css"/>
    <include path="~/Content/VertoCustom.css" />
  </styleBundle>
</bundles>